doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')

		each icon in icons
			if icon.type
				link(rel=icon.rel sizes=icon.sizes href=icon.href type=icon.type)
			else
				link(rel=icon.rel sizes=icon.sizes href=icon.href)

		link(rel='manifest' href='manifest.json')

		meta(name='application-name' content='JustDoIt')
		meta(name='msapplication-tooltip' content='time tracker')
		meta(name='msapplication-TileColor' content='#ffffff')
		meta(name='msapplication-TileImage' content='ms-icon-310x310.png')
		meta(name='msapplication-starturl' content='https://bitbucket.org/keksinautin/just-do-it#readme')
		meta(name='msapplication-tap-highlight' content='no')
		meta(name='msapplication-square70x70logo' content='ms-icon-70x70.png')
		meta(name='msapplication-square150x150logo' content='ms-icon-150x150.png')
		meta(name='msapplication-square310x310logo' content='ms-icon-310x310.png')

		meta(name='msapplication-TileColor' content='#ffffff')
		meta(name='msapplication-TileImage' content='ms-icon-144x144.png')
		meta(name='theme-color' content='#ffffff')

		link(rel='stylesheet' href='index.css?t=' + timestamp)
		script(src='index.js?t=' + timestamp)

		title Just-Do-It!
	body
