@import "../node_modules/foundation-sites/css/normalize.css"
@import "../node_modules/foundation-sites/css/foundation.css"
@import "./foundation-icons/foundation-icons.css"
@import "../node_modules/jquery-ui/themes/base/jquery.ui.datepicker.css"
@import "../node_modules/jquery-ui/themes/base/jquery-ui.css"
@import "../node_modules/jquery-ui-timepicker-addon/dist/jquery-ui-timepicker-addon.css"

// jquery ui date-time-picker has z-index 1
.button.postfix
  z-index 1

.ui-datepicker
  margin-top -18px
  margin-top -1rem

.jdi
  &-app
    margin-top 20px

  &-btn
    font-weight bold

  &-switcher.button
    font-size 0.9rem
    font-variant small-caps
    font-weight bold
    height 1.3rem
    line-height 0.6rem
    margin-bottom 0.7rem
    padding 0.3rem

  &-task-str
    border 2px solid #DDDDDD
    padding 0

  &-task-ceil
    border 1px solid #DDDDDD
    min-height 2.45rem
    padding-bottom 0.2rem
    padding-top 0.6rem
    text-align center

    &_name
      overflow hidden
      text-align left
      white-space nowrap

    &_input
      padding-bottom 0
      padding-top 0

    &_label
      font-weight bold

  &-form-label
    left 0
    position absolute
    top -0.6rem
    transform scaleY(0.8)

  &-icon
    cursor pointer

    &-sorting
      color #AAA
      font-size 1.6rem
      position absolute
      top 0.3rem

      &_active
        color #555

      &_big-screen
        right 0.1rem

      &_small-screen
        left 0.7rem

    &-changeable
      opacity 0.2
      position absolute
      right 0.2rem
      top 0

    &-remove
      color #777
      font-size 1rem
      margin 0 0.3rem 0

  input&-task-input
    margin 0
